

/*Форма*/


.tab-content { display: none; }
.input_tab { display: none; }
/*
.accordion{
    position: relative;
}
*/
*{
    box-sizing: border-box;
}

h1.title{
    text-align: center;
    margin: 0 auto 25px 0;
    font-weight: bold
}

.tab {
 font: 0.8rem/1.2 Arial, sans-serif; /* Параметры шрифта */
 border: 1px solid #e9eaec; /* Параметры рамки */
 border-radius: 3px; /* Скругляем уголки */
 color: black; /* Цвет текста */
 margin-bottom: 10px; /* Расстояние между пунктами */
 width: 400px;
}

.tab-title {
 padding: 10px; /* Поля вокруг текста */
 display: block; /* Блочный элемент */
 text-transform: uppercase; /* Все буквы заглавные */
 font-weight: bold; /* Жирное начертание */
 cursor: pointer; /* Вид курсора */
}

.tab :checked ~ .tab-content {
 display: block;  /*Показываем содержимое */
}

.tab :checked + .tab-title {
 /*background-color: #50a2de; /* Цвет фона */
 border-radius: 3px 3px 0 0; /* Скругляем уголки */
 color: #50a2de; /* Цвет текста */
 border: 3px solid #000;
 border-color: #50a2de;
 border-bottom: 0;
}

.displayed{
    display:block;
}

.hidden{
    display:none;
}
/*=======================*/

/*Даты*/

.tab-content-1 {
 color: black;
 top: 0;
 left: 0;
 background-color: white;
 padding-bottom: 50px;
 border: 3px solid #000;
 border-color: #50a2de;
}

/*Календарь*/

#month-calendar{
    width: 100%;
    border: 3px solid #000;
    border-color: #50a2de;
    font-weight: bold; /* Жирное начертание */
}


.month{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    width: 100%;
    margin: 0;
    background: #000;
    text-align: center;
    width: 100%;
    color: #ffffff;
    list-style: none;
}

.month li{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
}


/* дни недели */
.weekdays{
    color: black;
    margin: 0;
    padding: 5px 0;
    background-color: #dddddd;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.weekdays li{
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
}

/* дни */
.days{
    margin: 0;
    padding: 5px;
    background-color: #eeeeee;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.days li{
    padding: 5px;
    list-style: none;
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
    color: #999;
    font-size: 14px;
}

.days li.date-now{
    color: #000;
    border: 2px solid #000;
    border-color: #50a2de;
}

.days li.weekend{
    color: red;
}

/* */

.ul_task_5{
    display: flex;
    flex-direction: column-reverse;
}

/*============================================================*/

/*Меню*/
.title_menu{
    cursor: pointer;
}

.menu ul{
    margin: 0;
    list-style: none;
    padding-left: 20px; 
    display: none;
}

.menu .title_menu::before{
    content: '→';
    font-size: 150%;
    color: green;
}

.menu.open .title_menu::before{
    content: '↓';
    font-size: 150%;
    color: red;
}

.menu.open ul{
    display: block;
    flex-direction: column;
}




.menu .list_sweeties li{
    cursor: pointer;
    display: inline-block;
    
}

.list1.close{
    display: none;
}

/*Картина*/

.Picture{
    height: 400px;
    width: 398px;
    object-fit: cover;
}

/*==========================================================================*/

/*Анкета*/
.anketa{
    justify-content: center;
    text-align: center;
    
}
.FIO{
    height: 100%;
    width: 100%;
    display: flex;
}

.Gender{
    height: 100%;
    width: 100%;
    display: flex;
}

.Password{
    height: 100%;
    width: 100%;
    display: flex;
}

.Password .right{
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Email{
    height: 100%;
    width: 100%;
    display: flex;
}

.Skills{
    height: 100%;
    width: 100%;
    display: flex;
}

.About{
    min-height: 100px; 
    height: 100%;
    width: 100%;
    display: flex;
}

.Phone{
    height: 100%;
    width: 100%;
    display: flex; 
}

.left{
    width: 30%;
    border: 3px solid #000;
    border-color: gray;
}

.right{
    width: 70%;
    border: 3px solid #000;
    border-color: gray;
}

.Skills .right{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.FIO_input{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid #000;
    border-color: black;
}

.Education{
    height: 100%;
    width: 100%;
    display: flex;
}

.About_text{
    height: 100%;
    width:100%;
    border: 2px solid #000;
    border-color: black;
}

.text_FIO{
    border: 2px solid #000;
    border-color: black;
}

.FIO .right{
    padding-top: 4px;
    justify-content: center;
    text-align: center;
}

.valid{
    border: 4px solid #000;
    border-color: green;
}

.novalid{
    border: 4px solid #000;
    border-color: red;
}